*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body{
    background-color: rgb(223, 213, 213);
}

nav{
    justify-content: space-between;
    padding: 15px;
    background-color: black;
}
ul{
    margin-left: 250px;
 
}

ul li{
    padding-left: 50px;
    display: inline-block;
}

ul li a{
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: whitesmoke;
    padding: 5px;
}

ul li a:hover{
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: whitesmoke;
    background-color: red;
    border-radius: 10px;
    transition: 0.3s;

}

#contactme{
    padding: 10px;
    border-radius: 20px;
    background-color: red;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: none;
    margin-left: 19rem;
}

#contactme:hover{
    padding: 12px;
    transition: 0.5s;
}


span{
    color: red;
}
hr{
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

#border{
   
    border-style: dotted none none;
    border-color: grey;
    width: 10%;
    border-width: 5px;
    margin: 60px auto;

}

.navlogo p{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 29px ;
    font-weight: bolder;
    color: white;
}

.navlogo{
    display: inline-block;
}

.navcontent{
    display: inline-block;
}

.form{
    display: inline-block;
}


.label{
    border: solid 1px ;
    background-color:red;
    color: white;
    padding: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 30px;
    position: absolute;
    right: 68px;
    top: 30px;
}

.label:hover{
    border: solid 1px ;
    background-color:goldenrod;
    color: white;
    padding: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 30px;
    position: absolute;
    right: 58px;
    top: 30px;
    transition: 0.3s;

}
.content{
    background-image: url(./image/roman-synkevych-vXInUOv1n84-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 150px 90px 90px;
    height: 450px;
}

.content-heading{
    padding: 10px 0 10px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color:red;
    font-size: 60px;
}

.content-paragraph{
    padding-bottom: 30px;
    line-height: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color:whitesmoke;
}

.tech{
    color: black;

}
.content-searchbar{
    border-style: none;
    border-radius: 40px;
    height: 40px;
    margin-left: 0px;
    position: relative;
    width: 400px;
    outline: none;
    text-align: center;
    top: 2px;
}


.submitbutton{
    border: solid 1px ;
    background-color: red;
    color: white;
    padding: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 30px;
    position: absolute;
    right: 863px;
    top: 392px;
    
}

.submitbutton:hover{
    background-color: black;
    cursor: pointer;
    transition: 0.5s;
}
.about-me {
    text-align: left;
    margin: 50px 200px 100px 200px;

 
}

#jet{
    padding: 10px;
    background-color: red;
    margin-top: 40px;
    color: white;
    outline: none;
    border-radius: 30px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.image-aboutme{
    width: 40%;
    border-radius: 40px;
    float: right;         
}


#heading-1{
    margin:20px 0 40px 0 ;
}

#explore{
    margin-top: 50px;
    padding: 8px;
    color: white;
    background-color: red;
    border-radius: 30px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#exploreS:hover{
    background-color: black;
    cursor: pointer;
    transition: 0.5s;
}
.gallery{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.gallery h2{
    padding-bottom: 20px;
}
.gal2{
    width: 15%;
    border-radius: 30px;
    padding: 5px;
}


.gal2:hover{
    width: 22%;
    transition: 1s;
}

.offer{
    margin-top: 20px;
    margin-left: 20px;
}

.offer1{
    width: 65%;
    margin:20px auto 20px auto;
    margin-bottom: 100px;
 
}
.io1{
    border-radius: 40%;
    float: right;
    
    height: 25vh;
}

.io2{
    border-radius: 40%;
    float: left;
    margin-right:30px ;
}

.io3{
    border-radius: 40%;
    float: right;
}

.io4{
    border-radius: 40%;
    float: left;
    margin-right:30px ;
}


#head{
    margin-bottom: 18px;
}


